//
// Global variables
// --------------------------------------------------

$prefix: 'pn';
// .#{$prefix}-m = module
// .#{$prefix}-p = page
// .#{$prefix}-h = helper
// .#{$prefix}-is = state


// Fonts
$font-avenir-medium: 'avenir-medium';
$font-avenir-regular: 'avenir-regular';

// Colors
// Please use http://chir.ag/projects/name-that-color/#6195ED as reference for the colors name
$color-alizarincrimson: #d72733;
$color-cornflower: #99d5e9;
$color-mercury: #e4e4e4;
$color-opal: #a5bfc6;
$color-riverbed: #435362;
$color-tangerine: #f28a00;
$color-white: #fff;
$color-black: #000;
