<nav class="{{ global.prefix }}-m-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p class="text-left">{{ global.footer.copyright }}</p>
      </div>
    </div>
  </div>
</nav>
