<meta charset="utf-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ title }}</title>
<meta name="description" content="description">
<meta name="keywords" content="webapp, templates, es6">
<meta name="author" content="project name">

<!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
<link rel="icon" type="image/vnd.microsoft.icon" href="http://www.thehangar.cr/img/favicon.ico" />

<!-- build:css styles/vendor.css -->
<!-- bower:css -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:css styles/main.css -->
<link rel="stylesheet" href="styles/main.css">
<!-- endbuild -->
