<nav class="{{ global.prefix }}-m-nav">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p class="text-right">{{ global.nav.logo.text }}</p>
      </div>
    </div>
  </div>
</nav>
