<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <title>Gulp Webapp HBS</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="http://www.thehangar.cr/img/favicon.ico" />
    <link rel="stylesheet" href="http://www.thehangar.cr/fonts/DINWeb-Light.eeeb.woff" />
    <link rel="stylesheet" href="http://www.thehangar.cr/fonts/DINWeb-Black.453b.woff" />
    <link rel="stylesheet" href="http://careers.thehangar.cr/fonts/DINBold.woff2" />
    <link rel="stylesheet" href="http://www.thehangar.cr/fonts/DINWeb.e707.woff" />

    <style>

      header {
        background-color: #ED2924;
        height: 600px;
      }

      h2 {
        font-family: DIN-Black, sans-serif;
        color: #ED2924;
        font-size: 26px;
        font-weight: 600;
      }

      a {
        color: #000!important;
        font-size: 15px;
      }

      table>tbody>tr>td {
        padding: 27px 3px!important;
        border-top: 1px solid #818181 !important;
      }

      .main {
        margin-top: -350px;
        background-color: #FFF;
        width: 1025px !important;
      }

      .banner-client {
        margin-top: 60px;
      }

      .banner-name {
        font-family: DIN-Medium, sans-serif;
        border-top: 1px solid #FFF;
        font-weight: 300;
        margin-top: 46px;
        margin-bottom: 0;
        padding-bottom: 17px;
        border-bottom: 1px solid #000!important;
      }

      .banner-size {
        font-family: DIN-Regular, sans-serif;
        font-size: 15px;
      }

      .zip {
        font-family: DIN-Bold, sans-serif;
        font-size: 15px;
      }

      .logo-wrap {
        display: block;
        margin: 0 auto;
        height: 93px;
        width: 367px;
        padding: 80px 0;
      }

      #logo {
        height: 93px;
        width: 367px;
      }

      #footer-logo {
        float: right;
        height: 36px;
        width: 35px;
      }

      .h-m-footer {
        margin-top: 100px;
        margin-bottom: 43px;
      }

      .h-m-footer p {
        color: #999999;
        font-size: 7px;
        line-height: 30px;
      }

      .error * {
        color: #ED2924 !important;
      }
    </style>
  </head>

  <body  style="background-color: #f6f6f6;">
    <header>
      <div class="logo-wrap">
        <a href="http://www.thehangar.cr/">
          <svg id="logo" class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#hangar_logo"></use>
            <symbol id="hangar_logo" viewBox="0 0 664.589 170.079">
              <path fill="none" d="M0 0v170.08h664.59V0H0z"></path>
              <path d="M0 0v170.08h664.59V0H0z"></path>
              <g fill="#FFF">
                <path d="M142.742 78.416h-35.44V60.762H96.86v48.385h10.443V88.025h35.44v21.122h10.452V60.762h-10.453M177.59 109.147h12.464l8.866-13.77h24.69l8.865 13.77h12.46L211.274 56.85l-33.682 52.297zm39.814-23.467h-12.186l6.057-9.478 6.13 9.478zM312.154 92.13l-45.712-35.92v52.937h10.44V78.093l45.72 35.244V60.762h-10.448M385.52 93.772h14.028c-2.195 5.426-11.098 7.376-18.316 7.376-12.612 0-22.874-7.268-22.874-16.203 0-8.97 10.262-16.268 22.874-16.268 8.44 0 16.63 3.957 21.91 10.584l1.1 1.385V66.127l-.267-.185c-6.528-4.49-14.604-6.965-22.743-6.965-18.61 0-33.75 11.65-33.75 25.967 0 14.273 15.14 25.887 33.75 25.887 18.138 0 29.858-9.262 29.858-23.598v-3.076h-25.57v9.616zM426.798 109.147h12.462l8.87-13.77h24.684l8.868 13.77h12.46L460.474 56.85l-33.676 52.297zm27.62-23.467l6.058-9.478 6.132 9.478h-12.19zM553.978 87.847c6.58-2.1 10.047-6.566 10.047-12.954 0-10.42-9.88-14.13-19.125-14.13h-29.264v48.384h10.443v-20.03h16.458l12.672 20.03h12.452l-13.684-21.3zm-.823-12.954c0 2.25-1.082 4.55-9.105 4.55h-17.97v-9.006h17.97c8.07 0 9.105 2.382 9.105 4.456z"></path>
              </g>
              <g fill="#FFF">
                <path d="M142.742 78.416h-35.44V60.762H96.86v48.385h10.443V88.025h35.44v21.122h10.452V60.762h-10.453M177.59 109.147h12.464l8.866-13.77h24.69l8.865 13.77h12.46L211.274 56.85l-33.682 52.297zm39.814-23.467h-12.186l6.057-9.478 6.13 9.478zM312.154 92.13l-45.712-35.92v52.937h10.44V78.093l45.72 35.244V60.762h-10.448M385.52 93.772h14.028c-2.195 5.426-11.098 7.376-18.316 7.376-12.612 0-22.874-7.268-22.874-16.203 0-8.97 10.262-16.268 22.874-16.268 8.44 0 16.63 3.957 21.91 10.584l1.1 1.385V66.127l-.267-.185c-6.528-4.49-14.604-6.965-22.743-6.965-18.61 0-33.75 11.65-33.75 25.967 0 14.273 15.14 25.887 33.75 25.887 18.138 0 29.858-9.262 29.858-23.598v-3.076h-25.57v9.616zM426.798 109.147h12.462l8.87-13.77h24.684l8.868 13.77h12.46L460.474 56.85l-33.676 52.297zm27.62-23.467l6.058-9.478 6.132 9.478h-12.19zM553.978 87.847c6.58-2.1 10.047-6.566 10.047-12.954 0-10.42-9.88-14.13-19.125-14.13h-29.264v48.384h10.443v-20.03h16.458l12.672 20.03h12.452l-13.684-21.3zm-.823-12.954c0 2.25-1.082 4.55-9.105 4.55h-17.97v-9.006h17.97c8.07 0 9.105 2.382 9.105 4.456z"></path>
              </g>
            </symbol>
          </svg>
        </a>
      </div>
    </header>

    <div class="container main">
      <div class="col-sm-12">
        <h2 class="banner-client">Porter Novelli Retirement Game Microsite</h2>
        <h3 class="banner-name">Pages</h3>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              {{#each pages }}
                <tr>
                  <td>
                    <a class="banner-size" href="{{ this.page_url }}" target="_blank">{{ this.name }}</a>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <footer class="h-m-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p class="pull-left">© 2017 HANGAR. All Rights Reserved.</p>
          </div>
          <div class="col-md-6">
            <svg id="footer-logo">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#h"></use>
              <symbol id="h" viewBox="0 0 169.044 170.079">
                <path d="M156.7 12.343v145.392H12.343V12.343H156.7zM169.55 0H0v170.08h169.044V0h.505z"></path>
                <path d="M102.224 78.5h-35.44V60.847H56.343v48.385h10.443V88.11h35.44v21.122h10.452V60.847h-10.453"></path>
              </symbol>
            </svg>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
